<!DOCTYPE html>
<html>
  <head>
    <title>Wildcard</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    
    <%= javascript_include_tag 'http://maps.googleapis.com/maps/api/js?sensor=false' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

    <footer>
      <div class="clearfix">
        <p class="pull-left"><a class="notify-disabled" href="#"><i class="icon-chevron-up"></i></a></p>
          <p class="pull-right">&copy; 2013 
            <a href="http://mickael-girault.fr" target="_blank">Wildcard</a>&nbsp;|&nbsp;
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          </p>
      </div>
    </footer>
  </body>
</html>
